@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(128, 248, 206);
  --secondary-color: rgba(26, 50, 42, 0.82);
  --third-color: rgba(4, 10, 6, 0.661);
  --black: rgb(0, 0, 0);
  --text-color: rgb(165, 211, 195);
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: "Roboto-Bold";
  font-size: 5.5rem;
  -webkit-text-stroke: 0.7px rgba(128, 248, 206, 0.753);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  color: var(--third-color);
  text-shadow: 2px 2px 5px var(--secondary-color);
  height: 10rem;
  background: linear-gradient(
    15deg,
    var(--secondary-color) 1%,
    var(--primary-color) 120%
  );
  background-size: 200% 200%;
  border-radius: 5rem 5rem 0 0;
  border: 0.8px solid rgba(128, 248, 206, 0.5);
  padding: 2rem 0 0 0;
  animation: headline 4s ease-in-out infinite;
}

p,
label,
input,
select,
td,
th {
  font-family: "Roboto-Regular";
  font-size: 1.8rem;
  color: var(--text-color);
}

p {
  font-size: 1.4rem;
}

.grund-kcal,
.grund-kj,
.gesamt-kcal,
.gesamt-kj {
  font-family: "Roboto-Bold";
}

/* main */

main {
  height: 100vh;
  background: radial-gradient(
      circle,
      var(--secondary-color) 12%,
      var(--black) 100%
    ),
    url(../img/eugene-golovesov-wkb5BM3vlWY-unsplash.jpg) no-repeat center;
  background-size: cover;
  padding: 3rem 0 0 0;
}

article {
  padding: 3rem;
}

.rechner {
  width: 65rem;
  background-color: var(--third-color);
  border-radius: 5rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* input & form */

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
}

input[type="number"],
select {
  height: 4rem;
  background-color: var(--black);
  opacity: 0.5;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1rem 1rem 2rem;
  transition: 0.3s ease-in-out;
}

input[type="number"] {
  width: 70%;
}

select {
  width: 100%;
  margin: 0 0 1rem 0;
}

input[type="number"]:hover,
select:hover {
  background-color: var(--secondary-color);
  border: 1.5px solid var(--primary-color);
}

input[type="radio"],
label {
  margin: 0 1rem 0 0;
}

.körper-fig {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.körper-div {
  margin: 0;
}

figure {
  margin: 0 0 2.5rem 0;
}

label[for="aktivität"] {
  display: block;
  margin: 0 0 1rem 0;
}

input[type="submit"] {
  height: 5rem;
  width: 100%;
  color: var(--primary-color);
  background-color: var(--black);
  border-radius: 2rem;
  border: 1.5px solid var(--primary-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin: 0 0 2rem 0;
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

select,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="radio"] {
  accent-color: var(--primary-color);
}

/* tabelle */

table {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
  margin: 0 0 3rem 0;
}

th,
td {
  height: 4rem;
  width: 25%;
  padding: 1rem;
}

th:nth-of-type(1),
th:nth-of-type(2),
td:nth-of-type(1),
td:nth-of-type(2) {
  border-right: 0.5px solid rgba(128, 248, 206, 0.5);
}

th,
tr:nth-of-type(2) td {
  border-bottom: 0.5px solid rgba(128, 248, 206, 0.5);
}

td:nth-of-type(2),
td:nth-of-type(3) {
  text-align: center;
}

/* animations */

@keyframes headline {
  0%,
  100% {
    background-position: 0% 50%;
    font-size: 5.5rem;
  }
  50% {
    background-position: 80% 50%;
    font-size: 5.55rem;
  }
}

/* border effect */

.border-effect {
  position: relative;
  width: 65.2rem;
  height: 74.48rem;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5rem;
}

.border-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0.5px;
  background: radial-gradient(
      circle,
      var(--secondary-color) 55%,
      var(--black) 100%
    ),
    url(../img/eugene-golovesov-wkb5BM3vlWY-unsplash.jpg) no-repeat center;
  background-size: 190% 190%;
}
